---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title="GoShrt | Error 404"
	description="GoShrt es un servicio para crear urls acortadas"
	classList="h-screen grid place-content-center"
>
	<main class="p-4 text-center w-screen mx-auto text-xl">
		<h1>Error <span class="text-red-500">404</span></h1>
		<p>La página que buscas no existe verifique la URL</p>
	</main>
</Layout>
