<footer class="absolute bottom-0 w-screen my-4 flex items-center justify-center">
	<h2 class="font-medium">
		Hecho por
		<span class="text-red-600 text-2xl font-bold">Comparitiko ❤️</span>
	</h2>
</footer>
