---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
	title: string
	description: string
	classList?: string
}

const { title, description, classList } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class:list={`bg-[#07151d] text-white ${classList}`}>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
